body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif
}

header {
    background-color: #000;
    height: 100px;
    line-height: 70px;
}

.top-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1;
    background: #000;
}

.search-box {
    position: absolute;
    transform: translate(120%,-200%);
    border-radius: 40px;
    padding: 10px;
    height: 25px;
    background: white;
    border:1px solid #000;
}

.search-btn {
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-txt {
    border: none;
    background: none;
    float: right;
    color: black;
    font-size: 16px;
    outline: none;
    padding: 0;
    width: 200px;
    line-height: 33px;
}

.shop-cart {
    position: absolute;
    transform: translate(1200%,-200%);
    border-radius: 40px;
    padding: 10px;
    height: 25px;
    width: 30px;
    background: white;
}

.shop-btn {
    width: 30px;
    height: 30px;
    float: right;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

header ul {
    height: 85px;
    list-style: none;
    text-decoration: none;
}

ul li {
    display: inline-block;
}

header nav {
    height: 100px;
    float: right;
    align-items: center;
    text-align: center;
}

.logo img {
    margin-top: 20px;
}

header nav ul li {
    margin-top: -100px;
}

    header nav ul li a {
        padding-right: 20px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        width: 100px;
        font-size: 19px;
    }

        header nav ul li a:hover {
            text-decoration: none;
            transition: all 0.4s ease-in;
            color: red;
        }

.container {
    min-height: 320px;
    width: 100%;
    z-index: -1;
}

    .container ul li {
        transform: translate(25%,0%);
    }

.page {
    text-align: center;
}

.container {
    text-align: center;
}

    .container h1 {
        text-align: center;
    }

.page h1 {
    font-weight: 500;
}

.product-gallery {
    margin: 0 auto;
    width: 1200px;
    list-style: none;
}

    .product-gallery li {
        float: left;
        width: 300px;
        margin-right: 50px;
        margin-top: 30px;
        border: 1px solid #999;
    }

        .product-gallery li img {
            width: 300px;
            height: 200px;
            float: left;
        }

.product-description {
    display: none;
    background: #beb1b1;
    position: absolute;
    width: 300px;
    height: 200px;
}

.product-gallery li:hover .product-description {
    opacity: 0.9;
    display: block;
    transition: all 0.4s ease-in;
}

.product-description p {
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

.buy {
    background: orange;
    color: #fff;
    width: 100px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    float: right;
    height: 30px;
    transform: translate(-100%,250%);
    border-radius: 40px;
}

.product-infomation {
    height: 40px;
    background: #ea8025;
    width: 100%;
    float: left;
}

    .product-infomation h4 {
        float: left;
        color: #fff;
        width: 70%;
        margin: 10px;
    }

    .product-infomation span {
        float: right;
        color: #fff;
        margin: 5px;
        font-size: 20px;
        margin-top: -30px;
    }

.container {
    margin: 0 auto;
}

.cart {
    align-items: center;
    margin: 0 auto;
    width: 100%;
    padding: -10px;
}

fieldset {
    margin: 0 auto;
    width: 70%;
}

#shop-cart-table {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    border-spacing: 0;
    empty-cells: show;
    border-collapse: collapse;
}

tr {
    display: table-row;
}

#shop-cart-table td {
    border: 1px solid black;
    text-align: center;
}

#shop-cart-table th {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
}

#shop-cart-table i {
    color: #ea8025;
}
#shop-cart-table a{
    text-decoration:none;
}

#shop-cart-table img {
    width: 100px;
    height: 100px;
}

#shop-cart-table input {
    width: 80%;
    height:40px;
    font-size:15px;
}

#shop-cart-table tfoot td {
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-weight: bold;
    font-size: large;
}

.titles h1 {
    text-align: center;
}
.confirm{
    padding:35px 0 35px 0;
    width:127px;
    margin:0 auto;
}
.confirm a {
    margin:0 auto;
    padding: 20px 25px 20px 25px;
    border-radius: 40px;
    border: 1px solid #ea8025;
    color: #fff;
    font-size: large;
    font-weight: bold;
    background: #ea8025;
    text-decoration: none;
}

/*#banner-bg {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
#banner-bg img {
    width: 100%;
    background-size: cover;
    position: relative;
    height:550px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    }*/
.content {
    height: 500px;
}

#banner-name {
    margin: 0 auto;
}

.banner-name h2 {
    width: 70%;
    margin: 0 auto;
    color: #ea8025;
    font-size: 30px;
    font-family: 'Bebas Neue','Lato', sans-serif;
    text-align: left;
}

.banner {
    width: 70%;
    margin: 0 auto;
    background: #ea8025;
}

#banner-img {
    width: 50%;
    overflow: hidden;
    float: left;
    height: 400px;
}

#content {
    float: right;
    width: 50%;
    height: 400px;
    background: #ea8025;
    color: #fff;
}

    #content p {
        width: 80%;
        text-align: left;
        font-size: 17px;
        margin: 0 auto;
    }

#go-to-product {
    margin: 0 auto;
    width: 70%;
}

#product-intro {
    background: #ea8025;
    float: left;
    align-items: center;
    text-align: left;
    font-size: 17px;
    height: 478px;
    width: 30%
}

    #product-intro p {
        width: 80%;
        margin: 0 auto;
        color: #fff;
    }

#go-to-product-img {
    float: right;
    width: 70%;
}

    #go-to-product-img img {
        width: 100%;
        height: 478px;
    }

#go-to-product-btn {
    transform: translate(0,300%);
    width: 50%;
    margin: 0 auto;
}

    #go-to-product-btn a {
        padding: 10px 15px 10px 15px;
        font-size: 18px;
        background: #000;
        text-decoration: none;
        color: #fff;
    }

footer {
    display: block;
    background-image: none;
    background-color: #000;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.row {
    width: 90%;
    height: 200px;
    margin: 0 auto;
}

.col {
    background: #000;
    width: 30%;
    float: left;
}

.coppy-right {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #fff;
}

#about {
    min-height: 520px;
}

#about-content {
    width: 70%;
    margin: 0 auto;
}

#about-content-l {
    width: 52%;
    float: left;
    height: 450px;
}

    #about-content-l p {
        width: 80%;
        margin: 0 auto;
        font-size: 18px;
        margin-bottom: 20px;
    }

    #about-content-l span {
        font-size: 24px;
        font-weight: 700;
        font-family: 'Bebas Neue','Lato', sans-serif;
    }

#about-content-img {
    width: 48%;
    float: right;
}

.about-name h2 {
    width: 70%;
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Bebas Neue','Lato', sans-serif;
    text-align: left;
}

.list-single-store {
    width: 70%;
    margin: 0 auto;
}

    .list-single-store i {
        color: #ea8025;
    }

.admin-top-bar {
    background-color: #fff;
    color: #000;
    height: 100px;
    line-height: 70px;
    align-items: center;
    border-bottom:1px solid #000;
}
.nav{
    width:90%;
    margin:0 auto;
}
.admin-top-bar a{
    color:#000;
}

#admin-foot{
    background:#fff;
    color:#000;
}
.row-edit{
    width:60%;
    margin:0 auto;
    height:80px;
    
}
.row-left{
    float:left;
    width:20%;
    height:40px;
    line-height:35px;

}
.row-right{
    float:right;
    width:80%;
    height:40px;
}
.row-right input{
    width:60%;
    height:40px;
}
.confirm-1{
    width:50%;
    margin:0 auto;
    align-items:center;
    height:80px;
}
.confirm-1 input{
    height:40px;
    border-radius:10px;
    width:120px;
    background:#ea8025;
    color:#fff;
    font-weight:bold;
}
.confirm-1 a{
    text-decoration:none;
}
