<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Coffe</title>
    <link href="../css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <header>
        <div class="top-bar">
            <a href="index.html" class="logo"><img src="../Image/LogoSample_ByTailorBrands.jpg" /></a>
            <div class="search-box">
                <input class="search-txt" type="text" placeholder="Tìm sản phẩm" />
                <a class="search-btn" style="text-decoration:none;" href="#"><i class="fas fa-search fa-lg"></i></a>
            </div>
            <div class="shop-cart">
                <a class="shop-btn" href="ShopCart.html"><i class="fas fa-shopping-cart fa-lg"></i></a>
            </div>
            <nav>

                <ul>
                    <li><a href="index.html">Trang chủ</a></li>
                    <li><a href="Products.html">Sản phẩm</a></li>
                    <li><a href="ShopCart.html">Giỏ hàng</a></li>
                    <li><a href="About.html">Giới thiệu</a></li>
                    <li><a href="signup.htnl">Đăng ký</a></li>
                    <li><a href="login.html">Đăng nhập</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <h1 class="page">Các sản phẩm </h1>
    <section class="container">
        <ul class="product-gallery">
            <li>
                <img src="../Product's image/americano.jpg" />
                <div class="product-infomation">
                    <h4>Americano coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>

            <li>
                <img src="../Product's image/au_lait.jpg" />
                <div class="product-infomation">
                    <h4>Au Lait coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>

            <li>
                <img src="../Product's image/cappuccino.jpg" />
                <div class="product-infomation">
                    <h4>Cappuccino coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>
        </ul>
    </section>

    <section class="container">
        <ul class="product-gallery">
            <li>
                <img src="../Product's image/latte.jpg" />
                <div class="product-infomation">
                    <h4>Americano coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>

            <li>
                <img src="../Product's image/macchiato.jpg" />
                <div class="product-infomation">
                    <h4>Au Lait coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>

            <li>
                <img src="../Product's image/Marocchino.jpg" />
                <div class="product-infomation">
                    <h4>Cappuccino coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>
        </ul>
    </section>
    <section class="container">
        <ul class="product-gallery">
            <li>
                <img src="../Product's image/mazagran.jpg" />
                <div class="product-infomation">
                    <h4>Americano coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>

            <li>
                <img src="../Product's image/mocha.jpg" />
                <div class="product-infomation">
                    <h4>Au Lait coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>

            <li>
                <img src="../Product's image/yuanyang.jpg" />
                <div class="product-infomation">
                    <h4>Cappuccino coffee</h4>
                    <span>50,000 VND</span>
                </div>
                <div class="product-description">
                    <p>Giới thiệu về sản phẩm...</p>
                    <a href="#" class="buy">Mua</a>
                </div>
            </li>
        </ul>
    </section>

    <footer>

        <div class="row">
            <div class="col">
                <img src="../Image/LogoSample_ByTailorBrands.jpg" />
            </div>

            <div class="col">
                <h3>HỖ TRỢ</h3>
                <h4>Số điện thoại:0123456789</h4>
            </div>

            <div class="col">
                <h3>ĐỊA CHỈ</h3>
                <h4>17 Giải Phóng, Hai Bà Trưng, Hà Nội</h4>
                <h4>95 Cao Thắng, Quận 3, Hồ Chí Minh</h4>

                <h4>hello@demo.com</h4>
            </div>
        </div>

        <div class="coppy-right">Copyright © 2019 . All rights reserved.</div>
    </footer>
</body>
</html>